body{
   background-image: url(./earthMap.webp); 
   background-repeat: no-repeat;
   background-size: cover;
}

#select{
margin: auto;
margin-top: 15rem;
background-color: white;
}

ul{
margin-top: 3rem;
margin-left: 0%;
}

.li{

}